<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>779346462710-bdcjlq22g3mhj0opkt79hgsbb3taa8ka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.779346462710-bdcjlq22g3mhj0opkt79hgsbb3taa8ka</string>
	<key>API_KEY</key>
	<string>AIzaSyAars3NsfiNTZK2trme5Dzwa0SxGEEBBxg</string>
	<key>GCM_SENDER_ID</key>
	<string>779346462710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.savannah.mycarehubpro</string>
	<key>PROJECT_ID</key>
	<string>sghi-307909</string>
	<key>STORAGE_BUCKET</key>
	<string>sghi-307909.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:779346462710:ios:4585b13fcea433238d69d7</string>
</dict>
</plist>